body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        
.loader{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 7px solid rgba(255, 166, 0, 0.549);
    border-top: 7px solid orange;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}